html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.btn-cadastrar {
    margin: 5px;
    float: right;
    background: #198754;
    border-color: #198754;
    color: #fff;
}
.btn-cadastrar:hover{
    color:#fff;
}